@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200..900&display=swap");

@import "tailwindcss";

@theme {
  --font-noto-serif: "Noto Serif JP", serif;
}

@theme {
  --animate-category-bar-grow: category-bar-grow 1s
    cubic-bezier(0.22, 1, 0.36, 1) forwards;
}

@layer components {
  .sign-up-btn {
    @apply text-[18px] bg-black text-white rounded-sm px-6 py-2.5 hover:bg-gray-700 transition-colors duration-150
  }

  .sign-in-btn {
    @apply text-[18px] bg-white text-black border border-black rounded-sm px-6 py-2.5 hover:bg-gray-100 transition-colors duration-150
  }
}

@keyframes category-bar-grow {
  from {
    transform: scaleX(0);
  }

  to {
    transform: scaleX(1);
  }
}
